<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Idlestonks Signup</title>
  <link rel="stylesheet" type="text/css" href="/public/styles.css" />
	<script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>
  <meta name="google-signin-client_id" content="876070718207-a9u1sbefal4ugckthk9kt21mfg34gi55.apps.googleusercontent.com"/>
	<script>
		window.onLoadCallback = function(){
    	gapi.auth2.init({
      	client_id: '876070718207-a9u1sbefal4ugckthk9kt21mfg34gi55.apps.googleusercontent.com'
    	});
		}
	</script>	
</head>
<body>
  <div class="App">
    <header class="App-header">
	    <h2>This is Idlestonks</h2>
	    <h1>And you are in need of some cash</h1>
    </header>
	  <header class="App-header">
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
			<button onclick="onUser()">Login as Unknown</button>
      <script>
      	function onSignIn(googleUser) {
        	var profile = googleUser.getBasicProfile();
          uname = profile.getName();
					location.replace("https://idlestonks.ultrastonks.repl.co/game");
      	}
				function onUser() {
          uname = "Unknown";
					location.replace("https://idlestonks.ultrastonks.repl.co/game");
					//location.replace("http://localhost:3000/game");
				}
      </script>
    </header>
  </div>
</body>
</html>
